h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5%;
}

#card-contan {
    display: flex;
    width: 95%;
    height: auto;
    margin-left: 5%;
    
}

.trading-card { 
    width: auto;
    height: 33%;
   background-color: aqua;
    border-radius: 10%;
    border-color: brown;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2%;
}

.trading-card p,h4,img {
    margin-left: 15%;
}

.profile {
    width: 50%;
    height: 40%;
    border-radius: 20%;
    border-color: rgb(138, 197, 195);
    border-width: 10%;
    border-style: solid;
}